<h1>Signup for activities!</h1>
<ul>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
   <li style="color: red"> <%= error %> </li>
    <% end %>
<% end %>
</ul>

<%= form_for @signup do |f| %>
    <%= f.label :camper_id, "Choose a camper:" %>
    <%= f.collection_select(:camper_id, @campers, :id, :name) %>
    <br><br>
    <%= f.label :activity_id, "Choose an activity:" %>
    <%= f.collection_select(:activity_id, @activities, :id, :name) %>
    <br><br>
    <%= f.label :hour, "Enter activity time (hour 0-23)" %>
    <%= f.number_field :hour %>

    <br><br>
    <%= f.submit value = "Signup!" %>
  
<% end %>
<br>
<%= button_to "Back to Activity Index", activities_path, method: :get %>

