<h1>Register New Camper</h1>
<ul>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
   <li> <%= error %> </li>
    <% end %>
<% end %>
</ul>
<br>
<ul>
<% if flash[:success] %>
   <li> <%= flash[:success] %> </li>
    <% end %>
</ul>
<%= form_for @camper do |f| %>

    <%= f.label :name, "Enter camper name:" %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :age, "Enter camper age:" %>
    <%= f.number_field :age %>
    <br><br>
    <%= f.submit value = "Register Camper" %>
  
<% end %>