<h1>Register New Camper</h1>
<ul>
<% if flash[:errors] %>
    <% flash[:errors].uniq.each do |error| %>
   <li style="color: red"><%= error %> </li>
    <% end %>
<% end %>
</ul>
<br>

<%= form_for @camper do |f| %>

    <%= f.label :name, "Enter camper name:" %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :age, "Enter camper age:" %>
    <%= f.number_field :age %>
    <br><br>
    <%= f.submit value = "Register Camper" %>
  
<% end %>
<br>
<%= button_to "Back to Camper Index", campers_path, method: :get %>